.oldie #main
{
	border: 1px solid #666;
}

#main
{
	box-shadow: 0 3px 3px #666;
}

#main,
#container > header .headerPad
{
	height: 40px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#container > header
{
	/* layout */
	height: 43px;
	
	/* background color */
	background: #7d7e7d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTBlMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-8 */
	
	/* fonts */
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	text-shadow: 0px 1px 2px #000;
}

#container > header a
{
	color: #FFF;
	text-decoration: none;
}


#container > header ul
{
	list-style: none;
	padding:0;
	margin:0;	
}

#container > header .infoSummary
{
	float: left;	
	height: 40px;
	line-height: 40px;
}

#container > header .infoSummary > section
{
	float: left;	
}

#container > header .infoSummary .logo
{
}

#container > header nav ul
{
	float: right;	
}

#container > header ul li 
{
	list-style: none;
	padding:0px 5px;
	margin:0;
	float: left;
	
	height: 40px;
	line-height: 40px;
}

#container > header nav ul li 
{
	border-top: 1px solid transparent;
	list-style: none;
	margin:0;
	float: left;
	
	height: 40px;
	line-height: 40px;
	
	cursor: pointer;
}

#container > header nav ul li.selected,
#container > header nav ul li:hover
{	
	border-top: 1px solid #87E7FF;
	
	background: #00c7ff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYzdmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYWI5ZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #00c7ff 0%, #0ab9d8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00c7ff), color-stop(100%,#0ab9d8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00c7ff 0%,#0ab9d8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00c7ff 0%,#0ab9d8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00c7ff 0%,#0ab9d8 100%); /* IE10+ */
	background: linear-gradient(top, #00c7ff 0%,#0ab9d8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c7ff', endColorstr='#0ab9d8',GradientType=0 ); /* IE6-8 */
}


#container > header nav ul li a {
  display: block;
  padding:0px 15px;
}

#container > header .headerDivider
{
	border-top: 1px solid #87E7FF;
	height: 2px;
	
	background: #0ab9d8; /* Old browsers */
}

#container #main
{
  height: 800px;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
	padding: 10px;
	background-color: #FFF;
}